/* --- VARIABLES COULEURS --- */
:root {
    --gold: #c5a059;
    --gold-dark: #9e7d3e;
    --dark: #1a1a1a;
    --cream: #f9f8f4;
    --grey: #777777;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: var(--dark);
    background-color: var(--cream);
    line-height: 1.8;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    letter-spacing: 1px;
}